#search_box {
    border: 1px solid #666666;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    padding: 5%;
}

#loading {
    text-align: right;
    background-color: black;
    color: white;
    padding: 1.0em;
    top: 0px;
    right: 0px;
    position: absolute;
}

#gauge_div {
    display: inline-block;
    text-align: left;
}

#info {
    font-style: italic;
}

#ads {
    margin-left:auto;
    margin-right:auto;
    align: center;
    text-align: center;
    width: 70%;
}

h2 {
    font-weight: bold;
    text-align: center;
}

* {
    font-family: monospace;
}
