<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>The pr0n index</display-name>
  <servlet>
    <servlet-name>pr0nindex</servlet-name>
    <servlet-class>pr0nindex.core</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pr0nindex</servlet-name>
    <url-pattern>/pindex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pr0nindex</servlet-name>
    <url-pattern>/perma</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
